menu "FoF Uplink OLED"
    config FOF_OLED_SDA_PIN
        int "I2C SDA pin"
        default 4
    config FOF_OLED_SCL_PIN
        int "I2C SCL pin"
        default 5
    config FOF_OLED_RST_PIN
        int "OLED reset pin (-1 to disable)"
        default -1
endmenu
