#pragma once

/**
 * Friend or Foe -- WiFi Credentials Template
 *
 * Copy this file to wifi_credentials.h and fill in your WiFi details.
 * wifi_credentials.h is gitignored and will NOT be committed.
 */

/* Primary WiFi (also used as NVS default) */
#define CONFIG_WIFI_SSID            "YourSSID"
#define CONFIG_WIFI_PASSWORD        "YourPassword"

/* Multi-SSID list (tried in order of signal strength) */
#define CONFIG_WIFI_CREDENTIALS { \
    { "YourSSID",      "YourPassword" }, \
    { "YourSSID_5G",   "YourPassword" }, \
}
#define CONFIG_WIFI_CREDENTIAL_COUNT  2
